<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">GLOBAL HEADER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <% if user_signed_in? %>
        <span class="navbar-text" style='margin: 0 40px;'>
          Logged in as:
          <%= current_user.name %>
          |
          <%= current_user.email %>
        </span>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
  </div>
</nav>
<!-- <section id="header">
  <div class="container-fluid">
    <div id="logo">
      <a href="#"></a>  
    </div>
    <div id="main-navigation">
      <ol class="format social-links">
        <li><address><a href="mailto:webmaster@example.com">webmaster@example.com</a></address></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
      </ol> 
      <div class="menu">
        <a href="#"><i class="fas fa-bars"></i></a>
      </div>     
    </div> 
    </div>
</section> -->