<!DOCTYPE html>
<html>
  <head>
    <title>Carnaval</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
